.wrapper {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.back__link {
    display: block;
    text-decoration: none;
    background-color: goldenrod;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    margin: 15px 0;
    padding: 5px;
    width: 200px;
}
.detail-img__container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 240px;
    height: 250px;
    background-size: cover;
    background-position: center;
    @media all and (min-width: 768px) {
        height: 280px;
    }
}
.detail__info {
    box-sizing: border-box;
    width: 240px;
    color: white;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 5px 0;
        font-weight: bold;
    }
    @media all and (min-width: 768px) {
        height: 280px;
    }
}
.Slytherin {
    border: 2px solid lightgray;
    background-color: rgba(0, 100, 0, 0.6);
}
.Gryffindor {
    border: 2px solid goldenrod;
    background-color: rgba(139, 0, 0, 0.6);
}
.Ravenclaw {
    border: 2px solid lightgray;
    background-color: rgba(0, 0, 139, 0.6);
}
.Hufflepuff {
    border: 2px solid black;
    background-color: rgba(218, 165, 32, 0.6);
}
.dead {
    font-size: 22px;
}