.label {
    font-size: 22px;
    @media all and (min-width: 768px) {
        font-size: 36px;
    }
}
.search {
    font-size: 16px;
    margin-left: 8px;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    @media all and (min-width: 768px) {
        font-size: 20px;
        margin-left: 15px;
        height: 25px;
        width: 300px;
    }
}
.houses {
    margin-left: 15px;
    font-size: 16px;
    height: 20px;
}