
.list {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: grid;
    grid-template-columns: 245px;
    grid-gap: 10px;

    @media all and (min-width: 768px) {
        grid-template-columns: repeat(3, 245px);
    }
    @media all and (min-width: 1200px) {
        grid-template-columns: repeat(5, 1fr);
    }   
}


.item__info {
    height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;

}
.image__container {
    border: 15px solid rgb(75, 57, 10);
    width: 163px;
    height: 227px;
    background-size: cover;
    background-position: center;
}
.item__img {
    height: 0;
    width: 0;
}
.house__shield {
    height: 50px;
    width: 50px;
}
.house__img{
    height: 50px;
    width: 50px;
}

.item__name {
    font-size: 20px;
    margin-bottom: 0;
}
.character__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: grey;
    width: 220px;
    color: white;
}
.Slytherin {
    border: 2px solid lightgray;
    background-color: darkgreen;

}
.Gryffindor {
    border: 2px solid goldenrod;
    background-color: darkred;
}
.Ravenclaw {
    border: 2px solid lightgray;
    background-color: darkblue;

}
.Hufflepuff {
    border: 2px solid black;
    background-color: goldenrod;
}
.item__house {
    margin-top: 0;
}

