.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/wall.jpg);
  background-size: contain;
}

.title {
  margin: 0;
}
.logo {
  width: 70vw;
  margin-top: 10px;
  @media all and (min-width: 768px) {
    width: 40vw;

  }
}

