.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./images/wall.jpg);
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  box-sizing: border-box;
}
.title {
  margin: 0;
}
.logo {
  width: 200px;
  @media all and (min-width: 768px) {
    width: 300px;
  }
}

